<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if flag != 0 %}
      <meta http-equiv="refresh" content="4">
    {% endif %}
  <title>Amaze UI Admin table Examples</title>
  <meta name="description" content="这是一个 table 页面">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/admin.css">
  <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
</head>
<body>

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <strong>ViewMore UI</strong> <small>无线设置</small>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p> 公告</p>
          <p>点击ESSID，输入密码进行连接 </p>
          <p>显示连接成功</p>
          <p>显示正在连接，请等待，重新输入密码连接</p>
        </div>
      </div>
    </div>
  </div>

  <!-- sidebar end -->
  <div class="am-g">
      <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <br>
        {% if result != string  %}
            <div class="am-alert-success" style="font-size: 20px;text-align: center">
                正在连接
            </div>
        {% endif %}
        {% if result == string %}
            <div class="am-alert-success" style="font-size: 20px;text-align: center">
                连接成功
            </div>
        {% endif %}
        <form method="post" class="am-form">
            <br>
            <div class="am-alert">AP:{{ string }}</div>
          <br>
          <form method="post">
            密码 :  <input type="text" name="passwd">
                      <br>
                      <div class="am-cf">
                        <input type="submit"  name="" value="连接" class="am-btn am-btn-primary am-btn-sm am-fl">
          </form>
        </form>
      </div>
  </div>

  <!-- content end -->
</div>
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/amazeui.dialog.min.js"></script>
<script>

</script>
</body>
</html>
